      <div class="row">
        <div class="col-md-12">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Browser Usage</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="chart-responsive">
                    <!-- ><canvas id="pieChart" height="150"></canvas> -->
                    <% first_of_month = Date.current.beginning_of_month
					last_of_next_month = Date.current.end_of_month %>
                    <!--
                    MonthlyStatistic.where('period BETWEEN ? AND ?', first_of_month, last_of_next_month).find_each do |transaction| 
                     @monthlyStatisticsWithNames = Hash.new
                      @monthlyStatisticsWithNames[""] = 
                      Invoice.joins(:enrollments).uniq
                   end -->
                    <%= @chart = MonthlyStatistic.where('period BETWEEN ? AND ?', first_of_month, last_of_next_month).joins(:item)
                                        #pie_chart @chart.group(:name).count
                        @expenses_pie = @chart.where('actual_value < 0 and reserve = false').group(:name).order('sum_actual_value ASC').sum(:actual_value)
						#'sum_total_days DESC').sum(:total_days)
						#.select('SUM(total_days) as tot').order('tot desc')
						#@chart.group(:id).having("SUM(actual_value) < 0")
						column_chart @expenses_pie, adapter: "highcharts", library: {
								tooltip: { pointFormat: '{point.y:.2f}€' }, 
							    plotOptions: {
						        series: {
						            borderWidth: 0,
						            dataLabels: {
						                enabled: true,
						                format: '{point.y:.2f} €'
						            }
						        }
						    }
							} %>

                  </div>
                  <!-- ./chart-responsive -->
                </div>
                <!-- /.col -->
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      
<script type="text/javascript">
	
</script>