                <div class="chart-responsive">                  	
                  <p class="text-center">
                    <strong><%= @header %></strong>
                  </p>
                    <!-- ><canvas id="pieChart" height="150"></canvas> -->
                    <%= column_chart @data, adapter: "highcharts", library: {
								tooltip: { pointFormat: '{point.y:.2f}€' }, 
							    plotOptions: {
						        series: {
						            borderWidth: 0,
						            dataLabels: {
						                enabled: true,
						                format: '{point.y:.2f} €'
						            }
						        }
						    }
						} %>
               	</div>
                <!-- ./chart-responsive -->
