                  <div class="chart-responsive">
                  <p class="text-center">
                    <strong><%= @header %></strong>
                  </p>
					<%                  data = Array.new                                
                                        @data.find_all do |item|
                                        	actual_value = item[1].to_f*-1
                                       		row = [item[0], actual_value]
									    	data.push(row)
                                        end
                    %>

                   <%=  pie_chart data, adapter: "highcharts", library: { 
                    	#chart: { height: '70%'},
                    	tooltip: { pointFormat: '<b>-{point.y:.2f}€</b>' },
                    	plotOptions: { pie: { 	allowPointSelect: true,
												cursor: 'pointer',
												dataLabels: {
																enabled: true,
																format: '{point.name}: {point.percentage:.1f} %'
												}}}}

                    %>
                  </div>
                  <!-- ./chart-responsive -->
