	<!-- Content Header (Page header) -->
	<section class="content-header">
		<%= render 'layouts/state_info' %>	
		<h1><%= @title %>
			<small><%= @subtitle %></small>
		</h1>
		<%= render 'navigations/navigation_bar' %>
	</section>